.carBorder{
    box-shadow: none !important;
    margin-top: 3%
}

.detalleUsuario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 2.10;
    color: rgb(255, 255, 255);
}


ion-img {
    width: 20%;
    height: 20%;
    margin: auto;
    display: block;
    margin-top: 8%
}

ion-content,ion-toolbar{
    --background: rgb(52, 190, 224);
}